@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,400);
header {
	background-color:#FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color:#E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
body {
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.5;
}
h1{
	font-weight: 600;
	margin:1em;
}
h2{
	font-weight:400;
	margin: 1em;
}
p{

	margin: 1em;
}
ul{
	margin:2em;
}
img {
	width:250px;
}

